table {
    border-collapse: collapse;
}
input[type=number]{

  width: 10%;
}
input:focus {
    background-color: lightblue;
}
input[type=text], input[type=password]  {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    width: 20%;
}
form{

  width: 50%;
    background-color: #4CAF50;

}
body.test
{
  background-color: black;
  color:white;



}
body.pass
{
  background-color: lightblue;
}
input[type=text]:focus, input[type=password]:focus {
    width: 40%;
}




 th, td
{
  padding: 15px;
  background-color: lightblue;
    border-bottom: 1px solid #ddd;
    text-align: left;
}
td.blank
{
  background-color: white;
}
td.text
{
  background-color:gray ;
  text-align: center;


}

b
{

  font-size: 20px;

}
fire{
  font-size: 50px;

}
